.about__section {
    box-sizing: border-box;
    width: 100%;
    margin: 96px 0;
    margin-top: 0px;
}

.about__content {
    align-items: center;
    display: flex;
    font-family: var(--default-font);
    flex-direction: column;
    gap: 16px;
    padding: 48px auto;
    text-align: justify;
}

.about__content h3 {
    color: var(--red-100);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px; 
}

.about__content h2 {
    color: var(--gray-900);
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.96px;
}

.about__content p {
    color: var(--gray-500);
    font-family: var(--default-font);
    font-size: 16px;
    line-height: 16px;
    max-width: calc(100vw - 31.5vw);
    text-align: center;
}

@media screen and (min-width: 900px) {
    .about__content {
        gap: 24px;
    }
    
    
    .about__content h2 {
        font-size: 48px;
        line-height: 60px;
    }

    .about__content p {
        font-size: 20px;
        line-height: 30px;
        max-width: calc(100vw - 44vw);
    }
}