.header__container {
    padding: 36px 5.5%;
}

.header__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 36px;
    justify-content: space-between;
    padding: 28px 32px;
}

.header__logo {
    align-items: center;
    display: flex;
    gap: 8px;
}

.header__logo h2 {
    color: var(--black-80);
    font-family: var(--fonte-padrao);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.header__links ul {
    align-items: center;
    display: none;
    flex-direction: column;
    gap: 32px;
    padding: 4px 0;
}

.header__links ul li a {
    color: var(--gray-500);
    font-family: var(--fonte-padrao);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.header__buttons {
    align-items: center;
    display: flex;
    gap: 10vw;
}

.header__button__enter, .header__button__register {
    font-family: var(--fonte-padrao);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 10px 18px;
}

.header__button__enter {
    color: var(--gray-500);
    background: none;
    border: none;
}
    
.header__button__register {
    border-radius: 8px;
    border: 1px solid var(--red-100);
    background-color: var(--red-100);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: var(--white-100);
}

@media screen and (min-width: 900px) {
    .header__content {
        flex-direction: row;
        gap: 0px;
    }

    .header__links ul {
        display: flex;
        flex-direction: row;
    }

    .header__buttons {
        gap: 12px;
    }
}