.insights__section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 6rem;
    margin: 0 auto;
}

.insights__section .insights__container {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: calc(100vw - 15.345vw);
}

.insights__container .insight {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: left;
    width: 90%;
}

.insight .insight__title {
    color: var(--red-100);
    font-family: var(--default-font);
    font-size: 60px;
    font-weight: 600;
    line-height: 72px;
}

.insight .insight__description {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-self: stretch;
}

.insight .insight__description h3 {
    color: var(--gray-900);
    font-family: var(--default-font);
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}

.insight .insight__description p {
    color: var(--gray-500);
    font-family: var(--default-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

@media screen and (min-width: 520px) {

    .insights__section .insights__container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .insights__container .insight {
        width: 44%;
    }

}
@media screen and (min-width: 900px) {

    .insights__section .insights__container {
        flex-wrap: nowrap;
    }

    .insights__container .insight {
        width: 22.96%;
    }
}